@page
@model IndexModel
@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h2>Clientes</h2>
    <ul>
        <li><a asp-page="/Add/AgregarCliente">Agregar Cliente</a></li>
        <li><a asp-page="/List/ListarClientes">Listar Clientes</a></li>
    </ul>
</div>
