@page
@model WebClientHotel.Pages.Add.AgregarClienteModel
@{
    ViewData["Title"] = "Agregar Cliente";
}
<h1>Agregar Cliente</h1>

<form method="post">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" placeholder="Nombre" required maxlength="20"  />
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" name="apellido" placeholder="Apellido" required maxlength="20"/>
    </div>
    <div class="form-group">
        <label for="rut">Rut</label>
        <input type="text" class="form-control" name="rut" placeholder="Rut" required maxlength="20"/>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
</form>

@if (TempData["SuccessMessage"] != null)
{
<div id="success-message" style="display:none;">
    @TempData["SuccessMessage"]
</div>
}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var successMessage = document.getElementById("success-message");
        if (successMessage) {
            alert(successMessage.innerText);
        }
    });
</script>